.about{
    background-color: white;
    // background-image: linear-gradient(
    //     to  bottom,
    //     rgba($color-secondary-transition, 1),
    //     rgba(255,255,255, 1), rgba(255,255,255, 1),  rgba(255,255,255, 1),  rgba(255,255,255, 1),  rgba(255,255,255, 1),  rgba(255,255,255, 1));

    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: 10vh max-content minmax(min-content, max-content) minmax(min-content, max-content) 10vh;
    grid-template-columns: 1fr 50vw 1fr;
    grid-gap: 3rem;
    justify-items: center;
    align-items: center;

    @media only screen and (max-width: $bp-largest) {
            grid-template-columns: 1fr 60vw 1fr;
    }
    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 1fr 70vw 1fr;
    }
    @media only screen and (max-width: $bp-small) {
        grid-template-rows: 5vh max-content minmax(min-content, max-content) minmax(min-content, max-content) 5vh;
    }
    @media only screen and (max-width: $bp-smallest) {
        grid-template-rows: 2vh max-content minmax(min-content, max-content) minmax(min-content, max-content) 2vh;
        grid-template-columns: 1fr 80vw 1fr;
    }

    &__heading{
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        align-self: center;
        justify-self: center;
    }

    &__sub{
        grid-row: 1 / 2;
        grid-column: 1 / 4;
        align-self: end;
        justify-self: center;
    }

    &__text{

        &--1{
            grid-row: 3 / 4;
            grid-column: 2 / 3;
    


        }

        &--2{
            grid-row: 4 / 5;
            grid-column: 2 / 3;
    
            // @media only screen and (max-width: $bp-large) {
            //     grid-column: 2 / 6;
            // }

        }

    }
}