@font-face {
  font-family: lovelyGirl;
  src: url("../fonts/Lovely Girl.otf"); }
@font-face {
  font-family: Lora;
  src: url("../fonts/Lora-VariableFont_wght.ttf"); }
@font-face {
  font-family: LeishaScript;
  src: url("../fonts/Leisha Script.otf"); }
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lora"; }

.container {
  display: grid;
  grid-template-rows: repeat(3, min-content) 40vw repeat(6, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-venue {
  font-family: "LeishaScript";
  font-weight: 400; }

.heading-4, .text-1, .text-2 {
  font-family: "Lora";
  color: rgba(0, 0, 0, 0.5); }

.heading-1 {
  font-size: 20rem;
  color: white;
  line-height: 1;
  transform: rotate(-9deg); }
  @media only screen and (max-width: 77.5em) {
    .heading-1 {
      font-size: 15rem; } }
  @media only screen and (max-width: 50em) {
    .heading-1 {
      font-size: 12rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 8.5rem; } }

.heading-2 {
  font-size: 8rem;
  color: white;
  line-height: 1;
  transform: rotate(-12deg); }
  @media only screen and (max-width: 77.5em) {
    .heading-2 {
      font-size: 6rem; } }
  @media only screen and (max-width: 50em) {
    .heading-2 {
      font-size: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-2 {
      font-size: 3rem; } }

.heading-3 {
  font-size: 9rem;
  color: black;
  line-height: 1;
  letter-spacing: 1rem; }
  .heading-3-white {
    color: white; }
  @media only screen and (max-width: 77.5em) {
    .heading-3 {
      font-size: 6rem; } }
  @media only screen and (max-width: 50em) {
    .heading-3 {
      font-size: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-3 {
      font-size: 3rem; } }
  @media only screen and (max-width: 26.25em) {
    .heading-3 {
      font-size: 2.5rem;
      letter-spacing: .5rem; } }

.heading-4 {
  font-size: 2rem;
  color: rgba(135, 155, 175, 0.7);
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: .2rem; }
  @media only screen and (max-width: 77.5em) {
    .heading-4 {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-4 {
      font-size: 1rem;
      letter-spacing: .1rem; } }
  @media only screen and (max-width: 26.25em) {
    .heading-4 {
      font-size: .5rem;
      letter-spacing: .1rem; } }

.heading-white {
  color: white; }

.heading-venue {
  font-size: 13rem;
  color: white;
  line-height: 1;
  letter-spacing: 1rem; }

.text-1 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: .7rem; }
  @media only screen and (max-width: 77.5em) {
    .text-1 {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 50em) {
    .text-1 {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 37.5em) {
    .text-1 {
      font-size: 1.2rem;
      letter-spacing: .2rem; } }
  @media only screen and (max-width: 26.25em) {
    .text-1 {
      font-size: 1rem;
      letter-spacing: .2rem; } }

.text-2 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: .2rem;
  line-height: 2.8rem; }
  @media only screen and (max-width: 77.5em) {
    .text-2 {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 50em) {
    .text-2 {
      font-size: 1.3rem;
      line-height: 2.5rem;
      letter-spacing: normal; } }
  @media only screen and (max-width: 37.5em) {
    .text-2 {
      font-size: 1rem;
      line-height: 2rem;
      letter-spacing: normal; } }

.btn:link, .btn:visited {
  text-decoration: none;
  background-color: transparent;
  color: white;
  border: solid;
  border-color: white;
  border-radius: 6px;
  font-family: "Lora";
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 1.1rem 8rem;
  cursor: pointer;
  transition: all .2s; }
  @media only screen and (max-width: 77.5em) {
    .btn:link, .btn:visited {
      font-size: 1.5rem;
      padding: 1rem 6rem; } }
  @media only screen and (max-width: 50em) {
    .btn:link, .btn:visited {
      font-size: 1.5rem;
      padding: 1rem 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn:link, .btn:visited {
      font-size: 1.5rem;
      padding: 1rem 1.5rem; } }
.btn:hover {
  background-color: #879BAF;
  color: white;
  border-color: #879BAF; }

/* GRID STYLES */
/* MEDIA QUERIES */
/* GRID STYLES */
.nav__container {
  display: grid;
  grid-template-columns: 7vw 1fr 10fr 1fr 2vw;
  grid-template-rows: 70px auto;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3); }
.nav__main {
  grid-column: 3; }
  .nav__main ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, minmax(max-content, 1fr));
    justify-items: center; }
.nav__link:link, .nav__link:visited {
  font-size: 1.8rem;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s; }
.nav__link:hover {
  color: white;
  border-bottom: solid #879BAF; }
.nav__logo {
  grid-column: 2; }
  .nav__logo img {
    display: block;
    height: 4rem; }
.nav__hamburger {
  display: none;
  grid-column: 4;
  justify-self: end; }
.nav .fa-bars {
  font-size: 3rem;
  color: white; }

@media screen and (max-width: 77.5em) {
  .nav__link:link, .nav__link:visited {
    font-size: 1.5rem; }

  .nav__logo img {
    display: block;
    height: 2.5rem; }

  .nav__main {
    grid-column: 3; }
    .nav__main ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(5, minmax(max-content, 1fr));
      justify-items: center; } }
@media screen and (max-width: 62.5em) {
  .nav__link:link, .nav__link:visited {
    font-size: 1.5rem; }

  .nav__hamburger {
    display: none; }

  .nav__logo img {
    display: block;
    height: 2rem; }

  .nav__main {
    grid-column: 3; }
    .nav__main ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(5, minmax(max-content, 1fr));
      justify-items: center; } }
@media screen and (max-width: 50em) {
  .nav__main {
    grid-row: 2;
    grid-column: 2 / 5;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 100; }

  .nav__hamburger {
    display: initial; }

  .nav__logo img {
    display: block;
    height: 2.5rem; }

  .nav__main ul {
    grid-template-columns: 1fr;
    height: calc(80vh - 70px);
    align-content: space-evenly; }

  .nav__main ul a {
    color: #fff; } }
@media screen and (max-width: 26.25em) {
  .nav__logo img {
    display: block;
    height: 2rem; } }
.gallery {
  background-color: rgba(135, 155, 175, 0.7);
  grid-column: full-start / full-end;
  display: grid;
  /*grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);*/
  grid-template: repeat(7, 5vw)/repeat(8, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
  .gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / 7; }
  .gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / -1; }
  .gallery__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--7 {
    grid-row: 4 / 5;
    grid-column: 5 / 6; }
  .gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 3;
    grid-column: 8 / -1; }
  .gallery__item--10 {
    grid-row: 6 / span 2;
    grid-column: 1 / 2; }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .gallery__item--12 {
    grid-row: 6 / span 2;
    grid-column: 4 / 5; }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
  .gallery__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / -1; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.header {
  background-color: rgba(0, 0, 0, 0.3);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 7rem 10vh max-content max-content max-content 1fr;
  grid-template-columns: repeat(6, 1fr); }
  @media only screen and (max-width: 62.5em) {
    .header {
      grid-template-rows: 7rem 5vh max-content max-content max-content 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-template-rows: 7rem 1fr  max-content max-content max-content; } }

.rsvp__btn {
  grid-row: 5 / 6;
  grid-column: 3 / 5;
  align-self: start;
  justify-self: center;
  padding: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .rsvp__btn {
      grid-column: 2 / 6; } }

.primary {
  grid-row: 3 / 4;
  grid-column: 2 / 6;
  align-self: end;
  justify-self: center;
  animation: fadeIn 2s ease-out; }

.secondary {
  grid-row: 4 / 5;
  grid-column: 2 / 6;
  align-self: start;
  justify-self: center;
  animation: fadeIn 2s ease-out; }

.tertiary {
  grid-row: 4 / 5;
  grid-column: 3 / 5;
  align-self: start;
  justify-self: center;
  animation: fadeIn 1s ease-out; }
  @media only screen and (max-width: 77.5em) {
    .tertiary {
      grid-row: 4 / 5;
      grid-column: 3 / 5;
      justify-self: center;
      align-self: start; } }

.bg-video {
  height: 100%;
  width: 100%;
  grid-row: 1 / 7;
  grid-column: 1 / 7;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
    .bg-video__content {
      -webkit-filter: blur(0.6rem);
      -moz-filter: blur(0.6rem);
      -o-filter: blur(0.6rem);
      -ms-filter: blur(0.6rem);
      filter: blur(0.6rem); }

.blur {
  -webkit-filter: blur(0.6rem);
  -moz-filter: blur(0.6rem);
  -o-filter: blur(0.6rem);
  -ms-filter: blur(0.6rem);
  filter: blur(0.6rem); }

.nav {
  grid-row: 1 / 1;
  grid-column: 1 / 7; }

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.bridalParty {
  background-color: rgba(229, 226, 213, 0.6);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem; }
  .bridalParty__carousel {
    grid-row: 3 / 4;
    grid-column: 1 / 7;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10rem; }
  .bridalParty__transition {
    grid-row: 1 / 2;
    grid-column: 1 / 7;
    background-image: linear-gradient(to top, #efeee6, white); }
  .bridalParty__title {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 2rem; }
  .bridalParty__name {
    color: #879BAF;
    text-align: center;
    font-size: 2rem; }
  .bridalParty__picture {
    width: 15rem;
    height: 15rem; }
  .bridalParty__heading {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    align-self: center;
    justify-self: center; }
  .bridalParty__sub {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    align-self: end;
    justify-self: center; }

.covid {
  background-color: #879BAF;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 5vh repeat(4, auto) 5vh;
  grid-template-columns: 1fr 60vw 1fr;
  grid-gap: 5rem;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 62.5em) {
    .covid {
      grid-template-columns: 1fr 70vw 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .covid {
      grid-template-columns: 1fr 80vw 1fr;
      grid-gap: 3rem; } }
  @media only screen and (max-width: 26.25em) {
    .covid {
      grid-gap: 2rem; } }
  .covid__heading {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    font-size: 9rem;
    color: white;
    text-transform: uppercase; }
    @media only screen and (max-width: 77.5em) {
      .covid__heading {
        font-size: 7rem; } }
    @media only screen and (max-width: 50em) {
      .covid__heading {
        font-size: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .covid__heading {
        font-size: 4rem; } }
    @media only screen and (max-width: 26.25em) {
      .covid__heading {
        font-size: 3rem; } }
  .covid__sub {
    grid-column: 2 / 3; }
    .covid__sub-1 {
      grid-row: 3 / 4;
      font-size: 2.5rem;
      color: #cacaca;
      text-align: center; }
    .covid__sub-2 {
      grid-row: 4 / 5;
      text-align: left;
      color: white;
      font-size: 2rem; }
    @media only screen and (max-width: 77.5em) {
      .covid__sub {
        font-size: 2rem; } }
    @media only screen and (max-width: 50em) {
      .covid__sub {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .covid__sub {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 26.25em) {
      .covid__sub {
        font-size: 1.2rem; } }
  .covid__list {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    color: white;
    font-size: 2rem;
    line-height: 5rem; }
    @media only screen and (max-width: 77.5em) {
      .covid__list {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 50em) {
      .covid__list {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 37.5em) {
      .covid__list {
        font-size: 1.4rem;
        line-height: 3rem; } }
    @media only screen and (max-width: 26.25em) {
      .covid__list {
        font-size: 1.2rem;
        line-height: 2rem; } }

.footer {
  background-color: rgba(229, 226, 213, 0.6);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 5vh repeat(2, max-content);
  grid-template-columns: 25vw 1fr 25vw; }
  .footer__logo {
    grid-row: 2/ 3;
    grid-column: 2 / 3;
    border-top: .3rem solid #cacaca;
    display: grid;
    justify-items: center; }
  .footer__image {
    grid-column: 1 / 3;
    margin-top: 1rem;
    width: 70%; }
  .footer__credit {
    margin-top: 2rem;
    border-top: .3rem solid #cacaca;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.4); }
    @media only screen and (max-width: 77.5em) {
      .footer__credit {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 50em) {
      .footer__credit {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__credit {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 26.25em) {
      .footer__credit {
        font-size: .8rem; } }

.hotels {
  background-image: linear-gradient(to top, white, #efeee6, #efeee6, #efeee6, #efeee6, #efeee6, #efeee6, #efeee6);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 8vh repeat(2, max-content) 1fr 0.5fr;
  grid-template-columns: 1fr 30vw 30vw 1fr;
  grid-gap: 3rem; }
  @media only screen and (max-width: 77.5em) {
    .hotels {
      grid-template-columns: 1fr 35vw 35vw 1fr; } }
  @media only screen and (max-width: 77.5em) {
    .hotels {
      grid-template-columns: 1fr 40vw 40vw 1fr; } }
  @media only screen and (max-width: 50em) {
    .hotels {
      grid-template-columns: 1fr 45vw 45vw 1fr; } }
  @media only screen and (max-width: 26.25em) {
    .hotels {
      grid-template-rows: 5vh repeat(2, max-content) repeat(2, 1fr);
      grid-template-columns: 1fr; } }
  .hotels__first {
    grid-row: 3 / 4;
    grid-column: 2 / 3; }
    @media only screen and (max-width: 26.25em) {
      .hotels__first {
        grid-row: 4 / 5;
        grid-column: 1 / 2; } }
  .hotels__second {
    grid-row: 4 / 5;
    grid-column: 3 / 4; }
    @media only screen and (max-width: 26.25em) {
      .hotels__second {
        grid-row: 6 / 7;
        grid-column: 1 / 2; } }
  .hotels__heading {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    align-self: center;
    justify-self: center; }
    @media only screen and (max-width: 26.25em) {
      .hotels__heading {
        grid-column: 1 / 2; } }
  .hotels__sub {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    align-self: end;
    justify-self: center; }
    @media only screen and (max-width: 26.25em) {
      .hotels__sub {
        grid-column: 1 / 2; } }
  .hotels__info {
    display: grid; }
    @media only screen and (max-width: 26.25em) {
      .hotels__info {
        grid-gap: 1rem 0rem; } }
    .hotels__info-1 {
      grid-row: 3 / 4;
      grid-column: 3 / 4; }
      @media only screen and (max-width: 26.25em) {
        .hotels__info-1 {
          grid-row: 3 / 4;
          grid-column: 1 / 2; } }
    .hotels__info-2 {
      grid-row: 4 / 5;
      grid-column: 2 / 3; }
      @media only screen and (max-width: 26.25em) {
        .hotels__info-2 {
          grid-row: 5 / 6;
          grid-column: 1 / 2; } }
    .hotels__info-name {
      font-size: 3rem;
      align-self: end;
      justify-self: center; }
      @media only screen and (max-width: 77.5em) {
        .hotels__info-name {
          font-size: 2.3rem; } }
      @media only screen and (max-width: 62.5em) {
        .hotels__info-name {
          font-size: 2.2rem; } }
      @media only screen and (max-width: 50em) {
        .hotels__info-name {
          font-size: 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .hotels__info-name {
          font-size: 1.5rem; } }
    .hotels__info-location {
      font-size: 1.5rem;
      color: #879BAF;
      justify-self: center; }
      @media only screen and (max-width: 77.5em) {
        .hotels__info-location {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 50em) {
        .hotels__info-location {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 37.5em) {
        .hotels__info-location {
          font-size: 1rem; } }
    .hotels__info-description {
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.5);
      justify-self: center;
      text-align: center; }
      @media only screen and (max-width: 77.5em) {
        .hotels__info-description {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 62.5em) {
        .hotels__info-description {
          font-size: 1.6rem; } }
      @media only screen and (max-width: 50em) {
        .hotels__info-description {
          font-size: 1.4rem; } }
      @media only screen and (max-width: 37.5em) {
        .hotels__info-description {
          font-size: 1.2rem; } }
    .hotels__info__footer {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      font-size: 1.8rem;
      color: rgba(0, 0, 0, 0.5);
      justify-items: center; }
      .hotels__info__footer span {
        text-transform: uppercase;
        color: black; }
      @media only screen and (max-width: 77.5em) {
        .hotels__info__footer {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 50em) {
        .hotels__info__footer {
          font-size: 1.3rem; } }
      @media only screen and (max-width: 37.5em) {
        .hotels__info__footer {
          font-size: 1rem; } }

.invite {
  background-image: linear-gradient(to top, white, #efeee6, #efeee6, #efeee6, #efeee6, #efeee6, #efeee6, #efeee6);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 5vh max-content minmax(min-content, max-content) max-content 20vh;
  grid-template-columns: 1fr 50vw 1fr;
  grid-gap: 5rem 0rem;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .invite {
      grid-gap: 2.5rem 0rem; } }
  @media only screen and (max-width: 37.5em) {
    .invite {
      grid-template-columns: 1fr 80vw 1fr; } }
  .invite__heading {
    grid-row: 2 / 3;
    grid-column: 1 / 4; }
  .invite__text {
    grid-row: 3 / 4;
    grid-column: 2 / 3; }
  .invite__btn {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    align-self: start;
    padding: 1rem 5rem;
    border: solid;
    border-color: rgba(135, 155, 175, 0.7);
    border-radius: 4px;
    color: #879BAF;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s; }
    .invite__btn:hover {
      color: white;
      background-color: rgba(135, 155, 175, 0.7); }
    @media only screen and (max-width: 37.5em) {
      .invite__btn {
        padding: 1rem 4.5rem;
        font-size: 1.2rem; } }
    @media only screen and (max-width: 26.25em) {
      .invite__btn {
        padding: 1rem 4rem;
        font-size: 1rem; } }

.registry {
  background-color: white;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 8vh auto auto auto 10vh;
  grid-template-columns: 1fr 30vw 30vw 1fr;
  grid-gap: 3rem 10rem; }
  @media only screen and (max-width: 37.5em) {
    .registry {
      grid-template-columns: 1fr 40vw 40vw 1fr;
      grid-gap: 3rem 3rem; } }
  @media only screen and (max-width: 26.25em) {
    .registry {
      grid-template-columns: 1fr;
      grid-gap: 2rem 0rem; } }
  .registry__heading {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    align-self: center;
    justify-self: center; }
    @media only screen and (max-width: 26.25em) {
      .registry__heading {
        grid-column: 1 / 2; } }
  .registry__sub {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    align-self: end;
    justify-self: center; }
    @media only screen and (max-width: 26.25em) {
      .registry__sub {
        grid-column: 1 / 2; } }
  .registry__gift {
    display: grid;
    grid-gap: 3rem;
    justify-items: center;
    align-items: center; }
    @media only screen and (max-width: 26.25em) {
      .registry__gift {
        grid-gap: 1rem; } }
    .registry__gift-1 {
      grid-row: 3 / 4;
      grid-column: 2 / 3; }
      @media only screen and (max-width: 26.25em) {
        .registry__gift-1 {
          grid-column: 1 / 2; } }
    .registry__gift-2 {
      grid-row: 3 / 4;
      grid-column: 3 / 4; }
      @media only screen and (max-width: 26.25em) {
        .registry__gift-2 {
          grid-row: 4 / 5;
          grid-column: 1 / 2; } }
    .registry__gift-3 {
      grid-row: 4 / 5;
      grid-column: 2 / 4;
      align-self: center; }
      @media only screen and (max-width: 26.25em) {
        .registry__gift-3 {
          grid-row: 5 / 6;
          grid-column: 1 / 2; } }
    .registry__gift__image {
      width: 40rem; }
      @media only screen and (max-width: 62.5em) {
        .registry__gift__image {
          width: 30rem; } }
      @media only screen and (max-width: 50em) {
        .registry__gift__image {
          width: 25rem; } }
      @media only screen and (max-width: 37.5em) {
        .registry__gift__image {
          width: 20rem; } }
      @media only screen and (max-width: 26.25em) {
        .registry__gift__image {
          width: 12rem; } }
    .registry__gift-warning {
      grid-row: 5 / 6;
      grid-column: 2 / 4; }
      @media only screen and (max-width: 26.25em) {
        .registry__gift-warning {
          grid-column: 1 / 2;
          grid-row: 6 / 7; } }
    .registry__gift-text {
      font-size: 1.4rem;
      color: #879BAF; }
      @media only screen and (max-width: 26.25em) {
        .registry__gift-text {
          font-size: 1rem; } }
    .registry__gift__btn:link, .registry__gift__btn:visited {
      font-size: 2rem;
      padding: 1rem 8rem;
      text-decoration: none;
      border-radius: .4rem;
      background-color: rgba(135, 155, 175, 0.7);
      box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
      color: white;
      transition: all .2s; }
      @media only screen and (max-width: 62.5em) {
        .registry__gift__btn:link, .registry__gift__btn:visited {
          padding: 1rem 6rem; } }
      @media only screen and (max-width: 50em) {
        .registry__gift__btn:link, .registry__gift__btn:visited {
          padding: .8rem 5rem; } }
      @media only screen and (max-width: 37.5em) {
        .registry__gift__btn:link, .registry__gift__btn:visited {
          font-size: 1.8rem;
          padding: .6rem 4rem; } }
      @media only screen and (max-width: 26.25em) {
        .registry__gift__btn:link, .registry__gift__btn:visited {
          font-size: 1.4rem;
          padding: .2rem 4rem; } }
    .registry__gift__btn:hover {
      cursor: pointer;
      transform: translate(0, -0.5rem); }

.venue {
  background-color: rgba(0, 0, 0, 0.4);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 10vh max-content max-content repeat(3, 1fr);
  grid-template-columns: 12vw 1fr 12vw 1fr 12vw;
  grid-gap: 3rem;
  justify-items: center; }
  @media only screen and (max-width: 77.5em) {
    .venue {
      grid-template-columns: 8vw 1fr 8vw 1fr 8vw; } }
  @media only screen and (max-width: 62.5em) {
    .venue {
      grid-template-columns: 5vw 1fr 5vw 1fr 5vw; } }
  @media only screen and (max-width: 50em) {
    .venue {
      grid-template-columns: 2vw 1fr 2vw 1fr 2vw;
      grid-gap: 4rem 0rem; } }
  @media only screen and (max-width: 26.25em) {
    .venue {
      grid-template-rows: 3vh auto;
      grid-template-columns: 5vw 1fr 1fr 5vw;
      grid-gap: 2rem 0rem; } }
  .venue__block {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 2rem; }
    @media only screen and (max-width: 26.25em) {
      .venue__block {
        grid-template-rows: max-content;
        grid-template-columns: max-content 1fr;
        grid-gap: 1rem; } }
    .venue__block img {
      grid-row: 1 / 2;
      height: 9rem;
      width: 10rem; }
      @media only screen and (max-width: 77.5em) {
        .venue__block img {
          height: 6rem;
          width: 7rem; } }
      @media only screen and (max-width: 62.5em) {
        .venue__block img {
          height: 5rem;
          width: 6rem; } }
      @media only screen and (max-width: 37.5em) {
        .venue__block img {
          height: 4rem;
          width: 5rem; } }
      @media only screen and (max-width: 26.25em) {
        .venue__block img {
          height: 2rem;
          width: 3rem;
          grid-column: 1 / 2; } }
    .venue__block-text {
      color: white;
      text-align: left;
      grid-column: 1 / 3; }
      @media only screen and (max-width: 62.5em) {
        .venue__block-text {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .venue__block-text {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 26.25em) {
        .venue__block-text {
          font-size: .8rem;
          grid-column: 2 / 3;
          display: none; } }
    .venue__block-title {
      font-size: 3rem;
      grid-row: 1 / 2;
      justify-self: start;
      align-self: center;
      text-decoration: none; }
      @media only screen and (max-width: 77.5em) {
        .venue__block-title {
          font-size: 2rem; } }
      @media only screen and (max-width: 62.5em) {
        .venue__block-title {
          font-size: 1.9rem; } }
      @media only screen and (max-width: 37.5em) {
        .venue__block-title {
          font-size: 1.6rem; } }
      @media only screen and (max-width: 26.25em) {
        .venue__block-title {
          font-size: .8rem;
          grid-column: 2 / 3;
          justify-self: start; } }
  .venue__location {
    grid-row: 3 / 4;
    grid-column: 2 / 5;
    justify-self: center;
    font-size: 2.5rem; }
    @media only screen and (max-width: 77.5em) {
      .venue__location {
        font-size: 2rem; } }
    @media only screen and (max-width: 50em) {
      .venue__location {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 26.25em) {
      .venue__location {
        font-size: .5rem;
        grid-column: 1 / 4; } }
  .venue__ceremony {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    opacity: 0;
    transform: translateX(-20rem);
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity; }
    @media only screen and (max-width: 26.25em) {
      .venue__ceremony {
        grid-column: 2 / 3; } }
  .venue__cocktail {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    opacity: 0;
    transform: translateX(20rem);
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity; }
    @media only screen and (max-width: 26.25em) {
      .venue__cocktail {
        grid-column: 3 / 4; } }
  .venue__dinner {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    opacity: 0;
    transform: translateX(-20rem);
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity; }
    @media only screen and (max-width: 26.25em) {
      .venue__dinner {
        grid-row: 5 / 6;
        grid-column: 2 / 3; } }
  .venue__drive {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
    opacity: 0;
    transform: translateX(20rem);
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity; }
    @media only screen and (max-width: 26.25em) {
      .venue__drive {
        grid-row: 5 / 6;
        grid-column: 3 / 4; } }
  .venue__heading {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
    align-self: center;
    justify-self: center; }
    @media only screen and (max-width: 26.25em) {
      .venue__heading {
        grid-column: 1 / 4; } }
  .venue__sub {
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    align-self: end;
    justify-self: center; }
    @media only screen and (max-width: 26.25em) {
      .venue__sub {
        grid-column: 1 / 4; } }

.venue__ceremony.is-visible {
  opacity: 1;
  transform: translateX(0rem); }

.venue__dinner.is-visible {
  opacity: 1;
  transform: translateX(0rem); }

.venue__cocktail.is-visible {
  opacity: 1;
  transform: translateX(0rem); }

.venue__drive.is-visible {
  opacity: 1;
  transform: translateX(0rem); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
.about {
  background-color: white;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 10vh max-content minmax(min-content, max-content) minmax(min-content, max-content) 10vh;
  grid-template-columns: 1fr 50vw 1fr;
  grid-gap: 3rem;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 77.5em) {
    .about {
      grid-template-columns: 1fr 60vw 1fr; } }
  @media only screen and (max-width: 50em) {
    .about {
      grid-template-columns: 1fr 70vw 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      grid-template-rows: 5vh max-content minmax(min-content, max-content) minmax(min-content, max-content) 5vh; } }
  @media only screen and (max-width: 26.25em) {
    .about {
      grid-template-rows: 2vh max-content minmax(min-content, max-content) minmax(min-content, max-content) 2vh;
      grid-template-columns: 1fr 80vw 1fr; } }
  .about__heading {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    align-self: center;
    justify-self: center; }
  .about__sub {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    align-self: end;
    justify-self: center; }
  .about__text--1 {
    grid-row: 3 / 4;
    grid-column: 2 / 3; }
  .about__text--2 {
    grid-row: 4 / 5;
    grid-column: 2 / 3; }

.transition {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 10vh; }
  .transition--1 {
    background-image: linear-gradient(to bottom, #efeee6, white); }
  .transition--2 {
    background-image: linear-gradient(to top, #efeee6, white); }

.composition {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr); }
  .composition__photo {
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 26.25em) {
      .composition__photo {
        width: 30%; } }
    .composition__photo--p1 {
      grid-column: 2 / 5;
      grid-row: 2 / 5;
      justify-self: center;
      align-self: end;
      z-index: 11; }
      @media only screen and (max-width: 26.25em) {
        .composition__photo--p1 {
          grid-column: 1 / 6;
          grid-row: 2 / 5;
          justify-self: start;
          align-self: center; } }
    .composition__photo--p2 {
      grid-row: 2 / 4;
      grid-column: 3 / 6;
      justify-self: center;
      align-self: start;
      z-index: 10; }
      @media only screen and (max-width: 26.25em) {
        .composition__photo--p2 {
          grid-column: 1 / 6;
          grid-row: 2 / 5;
          justify-self: center;
          align-self: center; } }
    .composition__photo--p3 {
      grid-row: 1 / 4;
      grid-column: 1 / 4;
      justify-self: end;
      align-self: center;
      z-index: 9; }
      @media only screen and (max-width: 26.25em) {
        .composition__photo--p3 {
          grid-column: 1 / 6;
          grid-row: 2 / 5;
          justify-self: end;
          align-self: center; } }
    .composition__photo:hover {
      outline: 1rem solid #879BAF;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.party {
  background-image: linear-gradient(to bottom, white, #efeee6, #efeee6, #efeee6, #efeee6, #efeee6, #efeee6, #efeee6);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: 10vh max-content max-content 10vh;
  grid-template-columns: 1fr 50vw 1fr;
  grid-gap: 3rem;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .party {
      grid-gap: 2rem; } }
  @media only screen and (max-width: 26.25em) {
    .party {
      grid-gap: 1rem; } }
  @media only screen and (max-width: 77.5em) {
    .party {
      grid-template-columns: 1fr 60vw 1fr; } }
  @media only screen and (max-width: 50em) {
    .party {
      grid-template-columns: 1fr 70vw 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .party {
      grid-template-rows: 5vh max-content minmax(min-content, max-content) minmax(min-content, max-content) 5vh; } }
  @media only screen and (max-width: 26.25em) {
    .party {
      grid-template-rows: 2vh max-content minmax(min-content, max-content) minmax(min-content, max-content) 2vh;
      grid-template-columns: 1fr 80vw 1fr; } }
  .party__heading {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    align-self: center;
    justify-self: center; }
  .party__sub {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    align-self: end;
    justify-self: center; }
  .party__title {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .party__title {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 50em) {
      .party__title {
        font-size: 1.3rem; } }
    @media only screen and (max-width: 26.25em) {
      .party__title {
        font-size: 1rem; } }
  .party__name {
    color: #879BAF;
    text-align: center;
    font-size: 2rem; }
    @media only screen and (max-width: 62.5em) {
      .party__name {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 50em) {
      .party__name {
        font-size: 1.3rem; } }
    @media only screen and (max-width: 26.25em) {
      .party__name {
        font-size: 1rem; } }

.glide {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  width: 100%; }
  @media only screen and (max-width: 50em) {
    .glide {
      width: 75%; } }
  @media only screen and (max-width: 26.25em) {
    .glide {
      width: 100%; } }
  .glide__image {
    height: 50%;
    width: 50%; }
    @media only screen and (max-width: 50em) {
      .glide__image {
        height: 38%;
        width: 38%; } }
    @media only screen and (max-width: 26.25em) {
      .glide__image {
        height: 40%;
        width: 40%; } }
  .glide__slide {
    text-align: center; }
  .glide__arrow {
    color: #879BAF;
    border: 2px solid rgba(135, 155, 175, 0.5); }
    .glide__arrow:hover {
      color: white;
      background-color: #879BAF;
      border: 2px solid rgba(135, 155, 175, 0.5); }
    .glide__arrow--left {
      left: 1rem; }
    .glide__arrow--right {
      right: 1rem; }

.rsvp {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10vh;
  background-color: rgba(229, 226, 213, 0.6); }
  .rsvp__left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    background-image: url("/images/rsvp_photo-lg.jpg");
    background-size: cover; }
    @media only screen and (max-width: 77.5em) {
      .rsvp__left {
        background-image: url("/images/rsvp_photo-md.jpg"); } }
    @media only screen and (max-width: 62.5em) {
      .rsvp__left {
        background-image: url("/images/rsvp_photo-md.jpg"); } }
    @media only screen and (max-width: 37.5em) {
      .rsvp__left {
        display: none; } }
  .rsvp__right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: minmax(max-content, 20vh) max-content 20vh max-content;
    grid-template-columns: 10vw 1fr 10vw; }
    @media only screen and (max-width: 62.5em) {
      .rsvp__right {
        grid-template-columns: 8vw 1fr 8vw; } }
    @media only screen and (max-width: 50em) {
      .rsvp__right {
        grid-template-columns: 4vw 1fr 4vw; } }
    @media only screen and (max-width: 37.5em) {
      .rsvp__right {
        grid-column: 1 / 3; } }
  .rsvp__header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 2rem; }
  .rsvp__sub {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: center;
    font-size: 2rem;
    letter-spacing: .5rem;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6); }
  .rsvp__date {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: center;
    font-size: 3rem;
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6); }

.form {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: repeat(6, max-content);
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem 1rem;
  align-items: end; }
  .form__name {
    grid-row: 1 / 2;
    grid-column: 1 / 3; }
  .form__email {
    grid-row: 2 / 3;
    grid-column: 1 / 3; }
  .form__song {
    grid-row: 3 / 4;
    grid-column: 1 / 3; }
  .form__comment {
    grid-column: 1 / 3; }
  .form__radio {
    grid-column: 1 / 3;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: max-content repeat(3, 1fr);
    align-items: center;
    justify-items: center; }
    .form__radio-title {
      grid-column: 1 / 2; }
    .form__radio-1 {
      grid-column: 2 / 3; }
    .form__radio-2 {
      grid-column: 3 / 4; }
    .form__radio-3 {
      grid-column: 4 / 5; }
  .form__radio-transport {
    grid-column: 1 / 3;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: max-content repeat(2, 1fr);
    align-items: center;
    justify-items: center; }
    .form__radio-transport-title {
      grid-column: 1 / 2; }
    .form__radio-transport-1 {
      grid-column: 2 / 3; }
    .form__radio-transport-2 {
      grid-column: 3 / 4; }
  .form__input {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    transition: all .3s; }
    @media only screen and (max-width: 62.5em) {
      .form__input {
        font-size: 1.6rem; } }
    .form__input:focus {
      outline: none;
      border-bottom: 3px solid #879BAF; }
    .form__input-comment {
      font-size: 1.8rem;
      width: 100%;
      resize: none;
      border: 3px solid rgba(0, 0, 0, 0.2);
      background-color: transparent;
      color: rgba(0, 0, 0, 0.6); }
  .form__label {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
    @media only screen and (max-width: 62.5em) {
      .form__label {
        font-size: 1.1rem; } }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    letter-spacing: .2rem; }
    @media only screen and (max-width: 77.5em) {
      .form__radio-label {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 50em) {
      .form__radio-label {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__radio-label {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 26.25em) {
      .form__radio-label {
        font-size: 1.3rem; } }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #879BAF;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem; }
    .form__radio-button::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #879BAF;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__add {
    align-self: center; }
  .form__icon {
    font-size: 2.5rem;
    color: #879BAF; }
  .form__btn {
    background-color: transparent;
    font-size: 1.8rem;
    color: #879BAF;
    text-transform: uppercase;
    letter-spacing: .2rem;
    border: none;
    transition: all .3s;
    display: inline; }
    @media only screen and (max-width: 62.5em) {
      .form__btn {
        font-size: 1.6rem; } }
    .form__btn:hover {
      cursor: pointer;
      outline: none;
      transform: translate(0, -0.3rem); }
    .form__btn:focus {
      outline: none; }
  .form__submit {
    grid-row: 9 / 10;
    grid-column: 1 / 3;
    align-self: center;
    justify-self: center; }
    .form__submit-btn {
      font-size: 2.5rem;
      padding: 1rem 20rem;
      text-transform: uppercase;
      letter-spacing: .5rem;
      background-color: transparent;
      color: rgba(0, 0, 0, 0.6);
      border: 0.3rem solid #879BAF;
      border-radius: .3rem;
      transition: all .3s; }
      @media only screen and (max-width: 77.5em) {
        .form__submit-btn {
          font-size: 2.5rem;
          padding: 1rem 16rem; } }
      @media only screen and (max-width: 62.5em) {
        .form__submit-btn {
          font-size: 2rem;
          padding: 1rem 12rem; } }
      @media only screen and (max-width: 62.5em) {
        .form__submit-btn {
          padding: 1rem 8rem; } }
      @media only screen and (max-width: 37.5em) {
        .form__submit-btn {
          padding: 1rem 12rem; } }
      @media only screen and (max-width: 26.25em) {
        .form__submit-btn {
          padding: 1rem 8rem; } }
      .form__submit-btn:hover {
        cursor: pointer;
        background-color: #879BAF;
        color: white;
        border: 0.3rem solid #879BAF; }

.radio-text {
  font-size: 2rem;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  letter-spacing: .2rem; }
  @media only screen and (max-width: 77.5em) {
    .radio-text {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 50em) {
    .radio-text {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .radio-text {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 26.25em) {
    .radio-text {
      font-size: 1.5rem; } }

.table__container {
  display: grid;
  grid-gap: 4rem;
  grid-template-rows: 10vh 1fr 10vh;
  grid-template-columns: 10vw 1fr 10vw; }
.table__totals {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .table__totals span {
    font-size: 3rem;
    padding: 2rem;
    color: #879BAF; }

#adminTable_wrapper {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  font-size: 1.5rem;
  text-transform: uppercase; }

.transportation {
  background-color: white;
  grid-column: full-start / full-end;
  display: grid;
  grid-gap: 4rem;
  grid-template-rows: 5vh repeat(3, max-content) 10vh;
  grid-template-columns: 1fr 30vw 30vw 1fr; }
  @media only screen and (max-width: 26.25em) {
    .transportation {
      grid-gap: 2rem; } }
  .transportation__heading {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    align-self: center;
    justify-self: center; }
  .transportation__sub {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    align-self: center;
    justify-self: center; }
  .transportation__info {
    grid-row: 4 / 5;
    grid-column: 2 / 4; }

/*# sourceMappingURL=main.css.map */
