<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConnerandBrittany</title>
    <link rel="stylesheet" href="/css/glide.core.min.css">
    <link rel="stylesheet" href="/css/glide.theme.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="container">
    <header class="header">
        <h1 class="primary heading-1 fade-in">Brittany</h1>
        <h1 class="secondary heading-1 fade-in">Conner</h1>
        <h1 class="tertiary heading-2 fade-in">and</h1>
        <!-- <h1 class="tertiary heading-2">and</h1> -->
        <div class="rsvp__btn"><a href="#rsvp" class="btn header__btn">RSVP NOW</a></div> 
        <div class="bg-video">
            <video class="bg-video__content blur" autoplay muted loop>
                <source src="../../images/BrittanyAndConnerClip.mp4" type="video/mp4">
                <source src="../../images/BrittanyAndConnerClip.mp4" type="video/webm">
                Your browser is not supported!
            </video>
        </div>
        <div class="nav">
            <div class="nav__container">
                <div class="nav__logo">
                    <img src="../../images/BrittanyandConner.png" alt="Logo">
                </div>
                <div id="main-nav" class="nav__main">
                    <ul>
                        <li><a class="nav__link" href="#about">About us</a></li>
                        <li><a class="nav__link" href="#party">Bridal Party</a></li>
                        <li><a class="nav__link" href="#venue">Venue</a></li>
                        <li><a class="nav__link" href="#hotel">Hotels</a></li>
                        <li><a class="nav__link" href="#registry">Registry</a></li>
                    </ul><!-- .main-menu -->
                </div>
                <div class="nav__hamburger">
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="invite">
        <h1 class="invite__heading heading-3">We're Getting Married!</h1>
        <p class="invite__text text-1">We joyfully invite you to share our happiness as we unite in marriage on November 13th, 2020 at 4:00 pm.</p>
        <button  class="invite__btn">RSVP NOW</button>
    </div>

    <!-- <div class="transition transition--1"></div> -->

    <div id="about" class="about">
        <h3 class="about__sub heading-4">About Us</h3>
        <h1 class="about__heading heading-3">How We Met</h1>
        <p class="about__text about__text--1 text-2">Brittany and Conner met in the Summer of 2012 on a bus ride heading to a 'High School Senior Fun Day,' a week before they both graduated from Friendswood High School. Even though they met in 2012, they did not become close until they met each other again in the Fall of 2013 while both attending Texas A&M University in Collge Station. Conner noticed her, then Brittany noticed him, then Conner noticed her noticing him- thus sparking a beautiful companionship.</p>
        <p class="about__text about__text--2 text-2">They both shared a weird sense of humor and challenged each other to make the other laugh. In December of 2013, Conner finally mustered up the courage to ask her out with the romantic words of “So what are we?”. From that point on, they were each others better half and are super excited to be starting this new journey of marriage!</p>
    </div>

    <div id="party" class="party">
        <h3 class="party__sub heading-4">Party</h3>
        <h1 class="party__heading heading-3">Wedding Party</h1>

         <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Zach.png" alt="">
                        <h3 class="party__title">Groomsman</h3>
                        <p class="party__name">Zach Callaway</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Bridget.png" alt="">
                        <h3 class="party__title">Maid of Honor</h3>
                        <p class="party__name">Bridget Abraham</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Erik.png" alt="">
                        <h3 class="party__title">Best Man</h3>
                        <p class="party__name">Erik Linde</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Bailey.png" alt="">
                        <h3 class="party__title">Bridesmaid</h3>
                        <p class="party__name">Bailey Rocha</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Matt K.png" alt="">
                        <h3 class="party__title">Groomsman</h3>
                        <p class="party__name">Mathias Kibikas</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Lindsey.png" alt="">
                        <h3 class="party__title">Bridesmaid</h3>
                        <p class="party__name">Lindsay Ricker</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Kevin.png" alt="">
                        <h3 class="party__title">Groomsman</h3>
                        <p class="party__name">Kevin Wilson</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Brittany.png" alt="">
                        <h3 class="party__title">Bridesmaid</h3>
                        <p class="party__name">Brittany Hart</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Matt T.png" alt="">
                        <h3 class="party__title">Groomsman</h3>
                        <p class="party__name">Matt Trahan</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Amanda.png" alt="">
                        <h3 class="party__title">Bridesmaid</h3>
                        <p class="party__name">Amanda Altmyer</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Seth.png" alt="">
                        <h3 class="party__title">Groomsman</h3>
                        <p class="party__name">Seth Stroupe</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Kalli.png" alt="">
                        <h3 class="party__title">Bridesmaid</h3>
                        <p class="party__name">Kalli Delka</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Anthony.png" alt="">
                        <h3 class="party__title">Groomsman</h3>
                        <p class="party__name">Anthony Bevan</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Katie.png" alt="">
                        <h3 class="party__title">Bridesmaid</h3>
                        <p class="party__name">Katie Fitzgerald</p>
                    </li>
                    <li class="glide__slide">
                        <img class="glide__image" src="../../images/Derek.png" alt="">
                        <h3 class="party__title">Groomsman</h3>
                        <p class="party__name">Derek Abraham</p>
                    </li>
                </ul>
            </div>
    
            <!-- <div class="glide__arrows" data-glide-el="controls">
                 <button class="glide__arrow glide__arrow--left" data-glide-dir="<">next</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">prev</i></button>
            </div> -->
        </div>
    </div>

    <section id="venue" class="venue">
        <h3 class="venue__sub heading-4 heading-white">Venue</h3>
        <h1 class="venue__heading heading-3 heading-white">The Farmhouse</h1>
        <h3 class="venue__location heading-4 heading-white">27135 Old Highway 105 West, Montgomery, Texas 77316</h3>
        <div class="bg-video">
            <video class="bg-video__content" autoplay muted loop>
                <source src="../../images/farmhouseClose.mp4" type="video/mp4">
                <source src="../../images/farmhouseClose.mp4" type="video/webm">
                Your browser is not supported!
            </video>
        </div>
        <div class="venue__block venue__ceremony show-on-scroll">
            <img src="../../icons/rings.png" alt="Wedding Rings Icon">
            <h1 class="venue__block-title heading-4 heading-white">4:00 - Ceremony</h1>       
            <p class="venue__block-text text-2">The ceremony will be held indoors at the Farmhouse Chapel. Please arrive 15 minutes early!</p>
        </div>
        <div class="venue__block venue__cocktail show-on-scroll">
            <img src="../../icons/drinks.png" alt="drinks Icon">
            <h1 class="venue__block-title heading-4 heading-white">5:00 - Cocktail Hour</h1>       
            <p class="venue__block-text text-2">The cocktail hour will immediately follow the ceremony in the adjacent reception hall. Please enjoy a cocktail while we take photos.</p>
        </div>
        <div class="venue__block venue__dinner show-on-scroll">
            <img src="../../icons/dinner.png" alt="forks and plate Icon">
            <h1 class="venue__block-title heading-4 heading-white">6:00 - Dinner</h1>       
            <p class="venue__block-text text-2">Join us for a buffet style meal courtesy of Chuy's, followed by dancing and dessert. Enjoy a wonderful DJ and a photo booth!</p>
        </div>
        <div class="venue__block venue__drive show-on-scroll">
            <img src="../../icons/car.png" alt="Car Icon">
            <h1 class="venue__block-title heading-4 heading-white">11:00PM - Drive Safe</h1>       
            <p class="venue__block-text text-2">And that's a wrap! Thank you for celebrating with us on this wonderful day. Don't leave anything behind and remember to drive safe.</p>
        </div>
    </section>

    <section id="hotel" class="hotels">
        <h3 class="hotels__sub heading-4">Hotels</h3>
        <h1 class="hotels__heading heading-3">Guest Accommodations</h1>
        <div class="hotels__first composition">
            <img src="../../images/Hotel_1.PNG" alt="Photo 1" class="composition__photo composition__photo--p1">
            <img src="../../images/Hotel_2.PNG" alt="Photo 2" class="composition__photo composition__photo--p2">
            <img src="../../images/Hotel_3.PNG" alt="Photo 3" class="composition__photo composition__photo--p3">
        </div>
        <div class="hotels__info hotels__info-1">
            <h2 class="hotels__info-name">Hyatt Place Houston/The Woodlands</h2>
            <h3 class="hotels__info-location">1909 Research Forest Dr., The Woodlands, TX 77380</h3>
            <p class="hotels__info-description">This is the hotel where the wedding party and immediate family will be staying. Join us!</p>
            <div class="hotels__info__footer">
                <p class="hotels__info__footer-1"><span>rate: </span> $109/night</p>
                <p class="hotels__info__footer-2"><span>use code: </span> G-CAAB</p>
                <p class="hotels__info__footer-3"><span>drive: </span> 40 min</p>
            </div>
        </div>
        <div class="hotels__second composition">
            <img src="../../images/Resort1.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
            <img src="../../images/Resort2.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
            <img src="../../images/Resort3.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
        </div>
        <div class="hotels__info hotels__info-2">
            <h2 class="hotels__info-name">Margaritaville Houston/Lake Conroe</h2>
            <h3 class="hotels__info-location">600 Margaritaville Parkway, The Woodlands, TX 77356</h3>
            <p class="hotels__info-description">This is a brand new resort that was just added near the venue. We do not have a code, but if you are wanting a closer drive and willing to spend more this is a good option.</p>
            <div class="hotels__info__footer">
                <p class="hotels__info__footer-1"><span>rate: </span> $314/night</p>
                <p class="hotels__info__footer-2"><span>use code: </span> N/A</p>
                <p class="hotels__info__footer-3"><span>drive: </span> 20 min</p>
            </div>
        </div>
    </section>

    <section id="registry" class="registry">
        <h3 class="registry__sub heading-4">Registry</h3>
        <h1 class="registry__heading heading-3">Gifts</h1>
        <div class="registry__gift registry__gift-1">
            <img src="../../images/AmazonLogo.png" alt="amazon logo" class="registry__gift__image">
            <a href="https://www.amazon.com/wedding/registry/3216VBTU9AWRB?ref=wr_search_page_result_1" class="registry__gift__btn">View</a>
        </div>
        <div class="registry__gift registry__gift-2">
            <img src="../../images/TragetLogo.png" alt="target logo" class="registry__gift__image">
            <a href="https://www.target.com/gift-registry/giftgiver?registryId=370cb212f1e94d1489e93aa73c601c5e&type=WEDDING" class="registry__gift__btn">View</a>
        </div>
        <div class="registry__gift registry__gift-3">
            <img src="../../images/MacysLogo.png" alt="macys logo" class="registry__gift__image">
            <a href="https://www.macys.com/wgl/registry/guest/7172765" class="registry__gift__btn">View</a>
        </div>
        <div class="registry__gift registry__gift-warning">
            <p class="registry__gift-text">If link does not work try a different browser!</p>
        </div>
    </section>

    <section id="rsvp" class="rsvp">
        <div class="rsvp__left">
            <!-- <img class="rsvp__image" src="../../images/rsvp_photo.jpg" alt="rsvp photo"> -->
        </div>
        <div class="rsvp__right">
            <h1 class="rsvp__header">RSVP</h1>
            <h3 class="rsvp__sub">Save the Date and RSVP</h3>
            <h2 class="rsvp__date">nov 13, 2020</h2>
            <form action="/" class="form" method="POST">
                <div class="form__group form__name">
                    <input type="text" class="form__input" name="name" placeholder="Full name" id="name" required>
                    <label for="name" class="form__label">Full name</label>
                </div>
                <div class="form__group form__email">
                    <input type="email" class="form__input" name="email" placeholder="Email address" id="email" required>
                    <label for="email" class="form__label">Email address</label>
                </div>
                <div class="form__group form__song">
                    <input type="text" class="form__input" name="song" placeholder="Suggest a song" id="song">
                    <label for="song" class="form__label">Suggest a song</label>
                </div>
                <div id="formButton" class="form__add">
                    <button type="button" class="form__btn" onclick="addGuest()" ><i class="form__icon fas fa-plus-circle"></i> Add guest</button>
                </div>
                <div class="form__radio">
                    <div class="form__radio-title">
                        <p class="radio-text">rsvp:</p>
                    </div>
                    <div class="form__radio-1">
                        <input type="radio" class="form__radio-input" id="yes" name="response" value="Yes" checked>
                        <label for="yes" class="form__radio-label">
                            <span class="form__radio-button"></span>
                            yes
                        </label>
                    </div>
                    <div class="form__radio-2">
                        <input type="radio" class="form__radio-input" id="no" name="response" value="No">
                        <label for="no" class="form__radio-label">
                            <span class="form__radio-button"></span>
                            no
                        </label>
                    </div>
                    <div class="form__radio-3">
                        <input type="radio" class="form__radio-input" id="online" name="response" value="Online">
                        <label for="online" class="form__radio-label">
                            <span class="form__radio-button"></span>
                            online
                        </label>
                    </div>
                </div>
                <div class="form__group form__comment">
                    <textarea class="form__input-comment" name="comment" id="" rows="4"></textarea>
                    <label for="comment" class="form__label">Comment</label>
                </div>

                <div class="form__submit">
                    <input type="submit" value="send rsvp" class="form__submit-btn">
                </div>

            </form>
        </div>

    </section>

    <div class="covid">
        <h1 class="covid__heading">covid-19 update</h1>
        <p class="covid__sub">The Farmhouse Wedding Venue has successfully enjoyed weddings since the venue's reopenning in July and we are excited to join!</p>
        <p class="">The Farmhouse Wedding Venue, and Brittany and Conner will be taking the following precautions to ensure everyones safety:</p>
        <ul class="covid__list">
            <li class="covid__list__item-1">Extra spacing added between rows of chairs in the chapel</li>
            <li class="covid__list__item-2">Maximum of 10 guests per table in the reception hall</li>
            <li class="covid__list__item-3">2 additional tables will be setup to serve as overflow, for guests wishing to social distance</li>
            <li class="covid__list__item-7">Montgomery County is not enforcing the use of face masks for guests</li>
            <li class="covid__list__item-3">Installed a UV A/C filtration system in the chapel and reception hall, which destroys microbes in the air</li>
            <li class="covid__list__item-4">All staff will be wearing a mask and gloves</li>
            <li class="covid__list__item-5">Hand sanitization stations will be placed throughout the venue</li>
            <li class="covid__list__item-6">Staff will be routinely disinfecting high traffic areas throughout the event</li>
        </ul>
    </div>


    <section class="gallery">

        <figure class="gallery__item gallery__item--1"><img src="../../images/gal-2.jpg" alt="Gallery image 1" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--2"><img src="../../images/gal-1.jpg" alt="Gallery image 2" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--3"><img src="../../images/gal-14.jpg" alt="Gallery image 3" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--4"><img src="../../images/gal-4.jpg" alt="Gallery image 4" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--5"><img src="../../images/gal-5.jpg" alt="Gallery image 5" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--6"><img src="../../images/gal-6.jpg" alt="Gallery image 6" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--7"><img src="../../images/gal-13.jpg" alt="Gallery image 7" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--8"><img src="../../images/gal-8.jpg" alt="Gallery image 8" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--9"><img src="../../images/gal-9.jpg" alt="Gallery image 9" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--10"><img src="../../images/gal-10.jpg" alt="Gallery image 10" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--11"><img src="../../images/gal-11.jpg" alt="Gallery image 11" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--12"><img src="../../images/gal-12.jpg" alt="Gallery image 12" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--13"><img src="../../images/gal-7.jpg" alt="Gallery image 13" class="gallery__img"></figure>
        <figure class="gallery__item gallery__item--14"><img src="../../images/gal-3.jpg" alt="Gallery image 14" class="gallery__img"></figure>
        
    </section>

    <footer class="footer">
        <div class="footer__logo">
            <img src="../../images/BrittanyandConnerBlue.png" alt="Conner and Brittany logo" class="footer__image">
            <p class="footer__credit">Developed by Conner Callaway</p>
        </div>
    </footer>




    <script>
      
        /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
            function myFunction() {
                var x = document.getElementById("main-nav");

                    if (x.style.display === "grid") {
                         x.style.display = "none";

                    } else {
                        x.style.display = "grid";
                    }
            }
            var btnCounter = 0;
            var guestCounter = 0;

            function addGuest() {
                guestCounter++;

                var song = document.querySelector('.form__song')
                var btn = document.getElementById('formButton')
                var guest = document.querySelector('.form__guest')
                var html;
                var nextItem;
                //console.log(guest);
                

                if(btnCounter > 1) {
                    btn.style.display = 'none';
                }

                if(guest === null){
                    html = song.insertAdjacentHTML('afterend', `<div class="form__group form__guest"><input type="text" class="form__input" placeholder="Guest name" name="guest_${guestCounter}" id="guest_${guestCounter}"><label for="name" class="form__label">Guest name</label> </div>`)
                    nextItem = document.getElementById('guest_1').focus();
                    return html
                }
                else{
                    var guests = document.querySelectorAll('.form__guest')
                         html = guests[btnCounter].insertAdjacentHTML('afterend', `<div class="form__group form__guest"><input type="text" class="form__input" placeholder="Guest name" name="guest_${guestCounter}" id="guest_${guestCounter}"><label for="name" class="form__label">Guest name</label> </div>`);
                         nextItem = document.getElementById(`guest_${guestCounter}`).focus();
                    btnCounter++;
                    return html;
                }
            }

            function isElementInViewport(el) {
                var rect = el.getBoundingClientRect();
                return ((rect.top <= 0 && rect.bottom >= 0) || (rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) && rect.top <= (window.innerHeight || document.documentElement.clientHeight))
                        || rect.top >= 0 && rect.bottom <= (window.innerHeight || document.documentElement.clientHeight));
            }




            var scroll = window.requestAnimationFrame || function(callback) {window.setTimeout(callback, 1000/60)};

            var elementsToShow = document.querySelectorAll('.show-on-scroll');
            
            function loop(){
                elementsToShow.forEach(function (element) {
                    if (isElementInViewport(element)) {
                        element.classList.add('is-visible');
                    }
                    else {
                        element.classList.remove('is-visible');
                    }
                });
                scroll(loop);
            }
            loop();

     </script>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
    const config = {
        type: 'carousel',
        perView: 4,
        breakpoints: {
            800: {
                perView: 4
            }
        },
        autoplay: 2000,
        hoverpause: true
    }
    new Glide('.glide', config).mount()
</script>

    
</body>
</html>